.grocerySecondcontainer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    height: 300px;
    margin-top: 150px;
    flex-direction: row;
}
.grocerySecondcontainer >div {
    width: 25%;
    border: 2px solid #f0f5fc;
    border-radius: 5px;
    height: 300px;
    padding-top: 10px;


}
.grocerySecondcontainer > div > div > .img-container {
    margin: auto;
    width: 10%;
}
.grocerySecondcontainer > div >  div > div >p{
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    text-align: center;
    

}
.grocerySecondcontainer > div >  div > div {
    margin: auto;

}

.grocerySecondcontainer > div{
    margin: auto;
    background-color: rgb(255, 255, 255);
}

.p-container{
    top: 50px;
    position: relative;
}
.groceryThirdcontainer{
 width: 80%;
 height: 400px;
 border: 1px solid black;
 margin: auto;
 margin-top: 50px;
 text-align: center;
 position: relative;
}
.containerDescrip{
    height: 250px;
    width: 80%;
    margin: auto;
    position: absolute;
    top: 30%;
}
.thirdConParent{
    margin: auto;
    width: 80%;
}
.mainbanner{
    background-image: url("../../img//Carousel-images/Grocery Store/grocerymainbanner.jpg");
    /* background-position: center;
    background-size: 150%;*/
} 
@media (max-width: 999px ) and (min-width: 100px){
    .grocerySecondcontainer{
        display: flex;
        width: 90%;
        justify-content: space-evenly;
        margin: auto;
        height: 600px;
        margin-top: 50px;
        flex-direction: column;
        margin-bottom: 150px;
        border: 2px solid #f0f5fc;

    }
    .Gcoupons{
        float: none;
    }
    .grocerySecondcontainer >div {
        width: 90%;
        border: none;
        border-radius: 5px;
        padding-top: 20px;    
        padding-bottom: 20px;
        margin-top: 10%;
    }
   
}
.GMain{
    height: 1800px;
}
.GBanner{
    height: 300px;
    width: 100%;
    border: 1px solid black;
    /* position: absolute; */
    /* background-image: url("../../img/Carousel-images/Grocery Store/GstoreBanner.png"); */
    /* background-size: cover;
    background-repeat: no-repeat; */
    background-color: black;
    margin: auto;
}
.GBody{
    height: 600px;
    width: 100%;
    margin: auto;
    /* background: #f4f7fa; */
}
.gsHeader{
    width: 50%;
    height: 200px;
    margin: auto;
    color: white;
    text-align: center;
    position: relative;
    top: 30%;
}
.Gcoupons >div{
    float: left;
    height: 250px;
    width: 15%;
    border: 1px solid rgb(198, 202, 202);
    background-color: white;
}
.Gcoupons{
    justify-content: space-evenly;
    display: flex;
    height: 280px;
    width: 80%;
    margin: auto;
    position: relative;
    top: 10%;
    border-bottom: 1.5px solid rgb(198, 202, 202);
}
.Gvegi{
    width: 100%;
}
.productCard{
    height: 200px !important;
    width: 150px !important;
    
}
/* .react-multi-carousel-track {
    justify-content: space-evenly;
    display: flex;
    width: 100%;
} */