/*-------- 3.4 Footer --------*/
@media (min-width: 768px) {
    .collapse.dont-collapse-sm {
      display: block !important;
      height: auto !important;
      visibility: visible !important;
    }
  }
  footer {
    background-color: #f6f1d3;
    padding: 65px 0 0 0;
    position: relative;
  }
  @media (max-width: 767px) {
    footer {
      padding: 20px 0 0 0;
    }
  }
  footer hr {
    border-color: rgba(0, 0, 0, 0.05);
    margin-top: 5px;
  }
  @media (max-width: 767px) {
    footer hr {
      border-color: transparent;
    }
  }
  footer .contacts ul {
    margin: 0 0 25px 0;
    padding: 0;
    list-style: none;
  }
  @media (max-width: 767px) {
    footer .contacts ul {
      margin-top: 15px;
    }
  }
  footer .contacts ul li {
    padding-left: 35px;
    position: relative;
    margin-bottom: 10px;
    color: #333;
  }
  footer .contacts ul li a {
    color: #333;
    opacity: 1;
  }
  footer .contacts ul li a:hover {
    opacity: 1;
  }
  footer .contacts ul li i {
    font-size: 18px;
    font-size: 1.125rem;
    position: absolute;
    top: 0;
    left: 0;
    color: #e54750;
    line-height: 1;
  }
  footer h3 {
    font-size: 14px;
    font-size: 0.875rem;
    margin-bottom: 15px;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
  }
  @media (max-width: 767px) {
    footer h3 {
      font-size: 13px;
      font-size: 0.8125rem;
      cursor: pointer;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      margin: 0 -15px 0 -15px;
      padding: 15px 15px 15px 15px;
      display: block;
    }
    footer h3:after {
      font-family: 'ElegantIcons';
      content: "\4c";
      width: 20px;
      display: block;
      float: right;
    }
    footer h3.opened:after {
      content: "\4b";
    }
  }
  footer .links ul {
    margin: 0 0 25px 0;
    padding: 0;
    list-style: none;
  }
  @media (max-width: 767px) {
    footer .links ul {
      margin-top: 15px;
    }
  }
  footer .links ul li {
    margin-bottom: 8px;
    line-height: 1.2;
  }
  footer .links ul li a {
    position: relative;
    color: #333;
    opacity: 1;
    display: inline-block;
  }
  footer .links ul li a:hover {
    -webkit-transform: translate(5px, 0);
    -moz-transform: translate(5px, 0);
    -ms-transform: translate(5px, 0);
    -o-transform: translate(5px, 0);
    transform: translate(5px, 0);
    opacity: 1;
  }
  footer .links ul li a:hover:after {
    opacity: 1;
  }
  footer .links ul li a:after {
    font-family: 'ElegantIcons';
    content: "\24";
    position: relative;
    margin-left: 5px;
    top: 2px;
    opacity: 0;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  /* Newsletter footer*/
  @-webkit-keyframes rotation {
    from {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
      -moz-transform: rotate(359deg);
      -ms-transform: rotate(359deg);
      -o-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }
  @media (max-width: 767px) {
    #newsletter {
      margin-top: 20px;
    }
  }
  #newsletter h6 {
    margin: 15px 0 15px 0;
  }
  #newsletter input[type='email'] {
    border: 0;
    height: 40px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -ms-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    padding-left: 15px;
    background-color: #fcfcfc;
    background-color: rgba(255, 255, 255, 0.8);
    color: #444;
  }
  #newsletter input[type='email']:focus {
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  #newsletter button[type='submit'] {
    position: absolute;
    right: 0;
    color: #fff;
    font-size: 24px;
    font-size: 1.5rem;
    top: 0;
    border: 0;
    padding: 0 10px;
    height: 40px;
    line-height: 44px;
    cursor: pointer;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    background-color: #e54750;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    outline: none;
  }
  #newsletter button[type='submit']:hover {
    -webkit-filter: brightness(115%);
    filter: brightness(115%);
  }
  
  #message-newsletter #success_page {
    color: #333;
  }
  
  .follow_us h5 {
    font-size: 14px;
    font-size: 0.875rem;
    text-transform: uppercase;
    margin: 35px 0 10px 0;
    text-transform: uppercase;
  }
  .follow_us ul {
    margin: 0 0 25px 0;
    padding: 0;
    list-style: none;
  }
  .follow_us ul li {
    display: inline-block;
    margin: 0 10px 0 0;
  }
  .follow_us ul li a {
    display: block;
  }
  .follow_us ul li a img {
    width: 30px;
    height: 30px;
  }
  .follow_us ul li a:hover {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  
  ul.footer-selector {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ul.footer-selector li {
    float: left;
    margin-right: 10px;
  }
  @media (max-width: 575px) {
    ul.footer-selector li:last-child {
      padding-top: 10px;
      clear: both;
      float: none;
      display: block !important;
    }
  }
  
  /* Addtional links Footer */
  ul.additional_links {
    margin: 0;
    padding: 8px 0 0 0;
    color: #444;
    float: right;
    font-size: 13px;
    font-size: 0.8125rem;
  }
  @media (max-width: 991px) {
    ul.additional_links {
      float: none;
      margin-top: 10px;
    }
  }
  ul.additional_links li {
    display: inline-block;
    margin-right: 15px;
  }
  ul.additional_links li:first-child {
    margin-right: 20px;
  }
  ul.additional_links li:last-child {
    margin-right: 0;
  }
  ul.additional_links li:last-child:after {
    content: "";
  }
  ul.additional_links li span {
    color: #444;
  }
  ul.additional_links li a {
    color: #444;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  ul.additional_links li a:hover {
    color: #222;
  }
  ul.additional_links li:after {
    content: "|";
    font-weight: 300;
    position: relative;
    left: 10px;
  }
  
  .styled-select {
    width: 100%;
    overflow: hidden;
    height: 35px;
    line-height: 32px;
    border: none;
    background-color: #f2f2f2;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding-right: 35px;
    position: relative;
    color: #444;
    cursor: pointer;
  }
  .styled-select:after {
    font-family: 'ElegantIcons';
    color: #222;
    position: absolute;
    right: 10px;
    top: 0;
  }
  .styled-select.lang-selector:after {
    content: "\e0e3";
  }
  .styled-select.currency-selector:after {
    content: "\33";
  }
  .styled-select select {
    background: transparent;
    width: 110%;
    padding-left: 10px;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 25px;
    color: #444;
    font-size: 12px;
    font-size: 0.75rem;
    margin: 0;
    font-weight: 500;
    -moz-appearance: 'window';
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;
  }
  .styled-select select:focus {
    color: #444;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .styled-select select::-ms-expand {
    display: none;
  }
  

  .margin_60_40 {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  